* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-image: linear-gradient(to right, #00e5ff, #cf03fc);
}

.heading {
  text-align: center;
}

a {
  text-decoration: none;
}
.workandbreak {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
  text-align: center;
}

button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 20%;
}

.up {
  background-color: green;
  border: 1px solid black;
}

.down {
  background-color: red;
  border: 1px solid black;
}

.display {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: auto;
  margin-top: 90px;
  width: 50%;
  height: 150px;
}

.display h1 {
  background-color: rgba(0, 0, 0, 0.4);
  width: 60%;
  height: 60%;
  margin: auto;
}